* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  /* position: relative; */
}

/* ----------------------------------------- nav Section ----------------------------------------*/
nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 250px;
  margin: 5px 0px 0px 15px;
}
.Main-Nav {
  /* width: 65%; */
  width: 900px;
}

.horizontal-nav {
  margin-left: 20%;
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: space-around;
}

.Main-Nav ul li a {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  color: black;
  display: inline-block;
  border: solid transparent;
  margin-top: -5px;
}

.Main-Nav ul li a:hover {
  border: solid white;
  border-radius: 10px;
  transform: scale(1.2);
  color: orangered;

}

.login-Cart {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.login-Cart a {
  padding: 0px 14px;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

.login-Cart a:hover {
  font-size: 2.2rem;
  /* color: orangered; */
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* ----------------------------------- Drop Down Menu ---------------------------------*/
.sub-menu-wrap {
  position: absolute;
  top: 110%;
  left: 78%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
  border-radius: 5px;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menue {
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;

}

.sub-menue hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link i {
  font-size: 24px;
  margin-right: 15px;
  color: #525252;
}

.sub-menu-link:hover i {
  color: #000;
}

.sub-menu-link p {
  width: 100%;
  font-size: 18px;
  font-weight: 100;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transform: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

/* --------------------------------------hero section or welcome--------------------------------- */

.heroSection {
  position: relative;
  justify-content: center;
  align-items: center;
}

#video-background {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  z-index: -1;
  margin-top: 60px;
  margin-bottom: 35px;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container {
  position: relative;
}

.content {
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: left;
  z-index: 1;
  color: white;
  width: 80%;
  align-items: center;
}

.content p {
  font-size: 3rem;
  margin-bottom: 6px;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 800;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.803);
  backdrop-filter: blur(10);
  display: none;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  transition: all 0.4s ease-in-out;
}

.sidebar li {
  margin: 20px 0px 0px 50px;
  width: 100%;
}

.Menu-btn {
  cursor: pointer;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  text-align: center;
  display: none;
}

/*Other section of home page*/
.other-section {
  height: auto;
  text-align: center;
  display: flex;
}

/*------------------------------------------ adoption section start from here ------------------------*/
.adopt-section {
  height: auto;
  margin: 15px;
  padding-top: 30px;
  text-align: center;
  border: 2px solid black;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.adopt-section h1 {
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  height: 55px;
  background-color: beige;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.adopt-section a {
  text-decoration: none;
  color: black;
}

.Dog-img {
  margin-top: -5px;
  width: 40%;
  justify-content: center;
  float: left;
}

.Dog-img img {
  height: 250px;
  position: absolute;
}

.hover-image {
  opacity: 0;
}
.Content {
  width: 55%;
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: center;
  align-content: center;
  height: 230px;
  margin-top: 20px;
  float: right;
  font-size: 2.1rem;
  font-weight: 600;
}
.adopt-section:hover .original-image {
  opacity: 0;
}

.adopt-section:hover .hover-image {
  opacity: 1;
}

/* ----------------------------------  treanding product section --------------------------------  */
#trending-product {
  margin: 5px 15px 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
}

#trending-product h1{
  text-align: center;
  margin: 20px;
}

#products {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

#products .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.BoxCover{
  text-decoration: none;
}

.box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.2);
}

.imgbox {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgbox:hover .product-img {
  transform: scale(1.2);
}

.imgbox:hover::after {
  opacity: 1;
}

.product-img {
  max-width: 100%;
  height: 25vh;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #444;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
}

.price {
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  font-size: 1.3em;
  transition: color 0.5s ease;
}

.price:hover {
  color: #0d4712;
}

.add-cart {
  /* background-color: #4caf50; */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, rgb(246, 175, 43), rgb(245, 96, 42));
  margin-bottom: 10px;
  font-weight: 600;
}

.add-cart:hover {
  background-image: linear-gradient(to bottom, rgb(242, 161, 12), rgb(245, 73, 11));
}

.view-details {
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  /* border-radius: 5px; */
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
  font-weight: 600;
  color: #696969;
}

.view-details:hover {
  color: rgb(34, 34, 34);
}

.SeeMore {
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
}

.SeeMore a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.SeeMore:hover{
  color: rgb(81, 81, 81) ;
  transition: color 0.5s ease;
}

.AddProductBtn {
  text-align: right;
  margin: 100px 0px 50px 85%;
}

.AddProductBtn button {
  background-color: orangered;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.AddProductBtn button:hover {
  background-color: rgb(255, 101, 45);
}

#filter-form {
  margin: 20px 0;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px; 
}

#filter-form label {
  margin-right: 10px;
  font-size: 1.2em;
  color: #444;
}

#filter-form select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#filter-form select:hover,
#filter-form select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.3);
  outline: none;
}

#filter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 10px;
}

#filter-form button:hover {
  background-color: #388e3c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footerSection{
  margin-top: 50px;
}

/* -------------------------------------------- Tranning Section --------------------------------- */
.training-box {
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training-section {
  height: auto;
  margin: 15px;
  padding-top: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.adopt-section:hover,
.training-section:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.3),
    0 0 80px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.training-section h1 {
  font-size: 2.5rem;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  height: 55px;
  background-color: beige;
}

.training-section a {
  text-decoration: none;
  color: black;
}

.Training-section-Content {
  width: 45%;
  box-sizing: border-box;
  color: black;
  text-align: center;
  align-content: center;
  height: 230px;
  margin-top: 20px;
  float: left;
  font-size: 2rem;
  font-weight: 600;
  padding: 25px;
}

.Training-Video {
  width: 40%;
  justify-content: center;
  float: right;
  position: relative;
  height: 320px;
  overflow: hidden;
}

.Training-Video video {
  width: 95%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  left: 0;
  border: 3px solid black;
  border-radius: 40px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.Training-Video:hover video {
  transform: scale(1.1);
}

/* ---------------------------------------------Footer ------------------------------------ */

footer {
  width: 100%;
  bottom: 0;
  background-color: rgb(82, 82, 82);
  color: #fff;
  padding: 80px 0 25px;
  border-top-left-radius: 120px;
  font-size: 18px;
  line-height: 1.6;
}

.footer-container {
  width: 85%;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col-discription {
  flex-basis: 30%;
  padding: 10px;
  text-align:justify;
}

.footer-col {
  flex-basis: 22%;
  padding: 10px;
}

.footer-col-discription img {
  height: 100px;
  width: 250px;
  margin-bottom: 20px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-col h3 {
  margin-bottom: 40px;
  position: relative;
}

.footer-col h3::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.email {
  display: block;
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  padding-bottom: 5px;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-list li a:hover {
  color: #f90;
}

.wrapper a{
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: -45px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -65px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook {
  --color: #1877f2;
}

.twitter {
  --color: #1da1f2;
}

.instagram {
  --color: #e4405f;
}

.github {
  --color: #333333;
}

.youtube {
  --color: #cd201f;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: white;
}

.donate-img{
  margin-top: -150px;
  height: 380px;
  width: 250px;
}

.donate-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.Dog-img{
  align-items: center;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(207, 204, 204);
  color: black;
  font-weight: 600;
  margin-bottom: -50px;
}

@media (max-width: 768px) {
  .footer-col {
    flex-basis: 45%;
    margin-bottom: 20px;
  }

  .footer-socials {
    justify-content: center;
  }

  .donate-img img{
    margin-top: 0px;
  }
}


@media (max-width: 480px) {
  .footer-col-discription,
  .footer-col {
    flex-basis: 100%;
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------  Media Query  ---------------------------------------*/
/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
  .horizontal-nav {
    display: none;
  }
  .Menu-btn {
    display: block;
    margin-right: 2rem;
  }
  .login-Cart {
    margin: 0px 50px 0px 50px;
    width: 500px;
    justify-content: space-around;
  }
  .content p {
    font-size: 35px;
  }
  .Content {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .login-Cart {
    margin: 0px 0px 0px -6px;
    gap: 0px;
  }
  .login-Cart a {
    font-size: 1.5rem;
  }

  .content h1 {
    font-size: 36px;
  }
  .content p {
    font-size: 25px;
  }
  .Content {
    float: none;
    margin-top: 200px;
    font-size: 1.4rem;
    justify-content: center;
    width: 100%;
  }

  #trending-product h1 {
    font-size: 2rem;
  }

  .training-section h1 {
    font-size: 2rem;
  }

  .Training-section-Content {
    float: none;
    margin-top: -50px;
    font-size: 1.3rem;
    justify-content: center;
    width: 100%;
  }

  .Training-Video {
    width: 100%;
    margin-top: -50px;
  }
}
@media screen and (max-width: 500px) {
  .logo img {
    margin: 0;
    width: 210px;
  }
}
